html {
  background: blanchedalmond;
}

.title {
  position: relative; 
  z-index: 3;
}

input[type=checkbox] {

    width: 18px;
    height: 18px;
    background: #555;
    margin: 5px 5px;
    position: relative;
    border-radius: 20px;
    left: -10px;
    bottom: -3px;
  }

input[type=checkbox]:checked {

  width: 18px;
  height: 18px;
  background: #555;
  margin: 5px 5px;
  position: relative;
  border-radius: 10px;
  left: -10px;
  bottom: -3px;
}

.custom-shape-divider-top-1616403053 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1616403053 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 58px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1616403053 .shape-fill {
  fill: #00d1b26e;
}

.has-background-warning {
  transition-duration: 0.3s;
}

.has-background-grey-lighter {
  transition-duration: 0.3s;
}

.has-background-warning label{
  text-decoration: line-through;
}

.fa-linkedin-in:hover{
  color: #0a66c2;
}

a{
  color: #c1c6cd
}



/**
 * ----------------------------------------
 * animation slide-left
 * ----------------------------------------
 */

 @keyframes slide-left {
  0% {
    transform: translateX(600px);
  }
  100% {
    transform: translateX(0px);
  }
 }

 .slide-left {
	animation: slide-left 0.2s cubic-bezier(0.550, 0.460, 0.450, 0.940) both;
}

/**
 * ----------------------------------------
 * animation slide-right
 * ----------------------------------------
 */

 @keyframes slide-right {
  0% {
    transform: translateX(-600px);
  }
  100% {
    transform: translateX(0px);
  }
 }

 .slide-right {
	animation: slide-right 0.2s cubic-bezier(0.550, 0.460, 0.450, 0.940) both;
}


/**
 * ----------------------------------------
 * animation slide-out-bck-center
 * ----------------------------------------
 */
 @keyframes slide-out-bck-center {
  0% {
    transform: translateZ(0);
    opacity: 1;
  }
  100% {
    transform: translateZ(-1100px);
    opacity: 0;
  }
}

.slide-out-bck-center {
	animation: slide-out-bck-center 0.3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

/**
 * ----------------------------------------
 * animation bounce-top
 * ----------------------------------------
 */
 @keyframes bounce-top {
  0% {
    transform: translateY(-22px);
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    transform: translateY(-16px);
    animation-timing-function: ease-in;
  }
  65% {
    transform: translateY(-10px);
    animation-timing-function: ease-in;
  }
  82% {
    transform: translateY(-6px);
    animation-timing-function: ease-in;
  }
  93% {
    transform: translateY(-4px);
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
    opacity: 1;
  }
}

.bounce-top {
	animation: bounce-top 0.7s both;
}

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
 @keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
	animation: fade-in 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

/**
 * ----------------------------------------
 * animation shake-bottom
 * ----------------------------------------
 */
 @keyframes shake-bottom {
  0%,
  100% {
    transform: rotate(0deg);
    transform-origin: 50% 100%;
  }
  10% {
    transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    transform: rotate(4deg);
  }
  80% {
    transform: rotate(-2deg);
  }
  90% {
    transform: rotate(2deg);
  }
}

.shake-bottom {
	animation: shake-bottom 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

