html {
  background: blanchedalmond;
}

.title {
  position: relative; 
  z-index: 3;
}

input[type=checkbox] {

    width: 18px;
    height: 18px;
    background: #555;
    margin: 5px 5px;
    position: relative;
    border-radius: 20px;
    left: -10px;
    bottom: -3px;
  }

input[type=checkbox]:checked {

  width: 18px;
  height: 18px;
  background: #555;
  margin: 5px 5px;
  position: relative;
  border-radius: 10px;
  left: -10px;
  bottom: -3px;
}

.custom-shape-divider-top-1616403053 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1616403053 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 58px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1616403053 .shape-fill {
  fill: #00d1b26e;
}